

<div class="container">
<form action="/uploadPost" method="post" enctype="multipart/form-data">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="postPic">
    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
  </div>


  <button type="submit">Post</button>
</form>

</div>
